.Input {
  .label-wrapper {
    background: rgb(247, 247, 251);
    height: 3em;
    padding: 0 0.5em 0 1em;
    transition: 0.3s;

    &:hover {
      background: rgb(241, 241, 245);
    }

    &:focus-within {
      background: rgb(241, 241, 245);
      box-shadow: 0 0 0 0.125em #001dc6;
    }
  }

  ul {
    box-shadow: $box-shadow;

    button {
      padding: 0.75em 1.5em;
      width: 100%;
      position: relative;
      text-align: left;
      overflow: hidden;

      &:hover,
      &:focus,
      &:focus-within {
        &::before {
          transform: scale(1.25, 1) translateY(-50%);
          opacity: 1 !important;
        }
      }

      &:last-child {
        &::before {
          opacity: 0;
        }
      }

      &::before {
        @extend .before-or-after;
        z-index: 0;
        background: rgba(0, 29, 198, 0.1);
        left: 1.5em;
        width: calc(100% - 3em);
        top: 50%;
        transform: scale(1, 0.025);
      }
    }
  }
}
