$fallback-font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Helvetica Neue', sans-serif;

:root {
  font-family: 'Open Sans', $fallback-font-family;
  --font-mono: 'Fira Mono', monospace;
  --pure-white: #ffffff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #ff3e00;
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #444444;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  background-color: #f7f7fb;
  color: #00004c;
}

* {
  color: currentColor;
  font-family: Open Sans, $fallback-font-family;
  line-height: 1.5em;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

a,
button,
input,
textarea {
  font-weight: normal;
  font-family: inherit;
  // animation-fill-mode: both;
  transition-duration: 0.3s;

  &,
  &:focus {
    outline: none;
  }

  &,
  &::placeholder {
    font-family: Open Sans, $fallback-font-family !important;
  }
}

label {
  cursor: pointer;
}

small {
  font-size: 0.75em;
  opacity: 0.7;
}

.before-or-after {
  @include before-or-after($bg: inherit, $br: inherit, $o: 0.9);
}
